name: Continuous Integration (CI)

on:
  push:
  pull_request:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4

      - name: Set up Java toolchain
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run unit tests
        run: ./gradlew test

      - name: Analyze with SonarCloud
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Provided by GitHub
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}    # The secret you created
          run: ./gradlew sonar